PORT=4000
NODE_ENV=development
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=rbac
DATABASE_PASSWORD=rbac
DATABASE_NAME=rbac_api
JWT_SECRET=change-me-in-production
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
